<%- include('header')%>
<div class="main" style="padding:0">
    <div class="sub-header">Add Link File To Tool</div>
    <div class="display"></div>
    <div class="container-fluid">
	    	<form action="/addVideo" method="POST">
		        <label for="company">Video title: </label>
            	<div class="row">
                	<input class="form-control search-bar" name="input_title"  type="text" placeholder="Nhập title cho video">
            	</div>
            	<label for="company">Video description: </label>
            	<div class="row">
                	<input class="form-control search-bar" name="input_description"  type="text" placeholder="Nhập description video">
            	</div>
            	<label for="company">Google Driver URL: </label>
            	<div class="row">
                	<input class="form-control search-bar" name="input_URL" type="text" placeholder="Nhập URL cua video">
            	</div>
		        <div class="row">
                    <input class="btn btn-primary" type="submit" id="btn-sub" name="submit" value="Send URL" style="margin-left: 47%">
                    <span style="margin-left: 48%" class="success-msg"><%= error %></span>
            	</div>
        	</form>
        	<div class="container" style="margin-top:100px">
        		<div class="row justify-content-center">
        			<div class="col">
        				<button class="btn btn-primary">Download</button>
        			</div>
        			<div class="col">
        				<button class="btn btn-primary">Up to IGTV</button>
        			</div>
        			<div class="col">
        				<button class="btn btn-primary">Xoa video cache</button>
        			</div>
        		</div>
        	</div>
	    </div>
</div>
</body>
</html>