<%- include('header')%>
<div class="main" style="padding:0">
    <div class="sub-header">Add Link File To Tool</div>
    <div class="display"></div>
    <div class="container-fluid">
	    	<form action="/changePass" method="POST">
		        <label>Nhập Mật Khẩu Cũ</label>
            	<div class="row">
                	<input class="form-control search-bar" name="oldpass" type="text" placeholder="Mật Khẩu Cũ">
            	</div>
                <label>Nhập Mật Khẩu Mới</label>
                <div class="row">
                    <input class="form-control search-bar" name="newpass" type="text" placeholder="Mật Khẩu Mới">
                </div>
                <label>Nhập Lại Mật Khẩu Mới</label>
                <div class="row">
                    <input class="form-control search-bar" name="newpass2" type="text" placeholder="Mật Khẩu Mới">
                </div>
		        <div class="row">
                    <input class="btn btn-primary" type="submit" id="btn-sub" name="submit" value="Send URL" style="margin-left: 47%">
                    <span style="margin-left: 48%" class="success-msg"><%= error %></span>
            	</div>
        	</form>
	</div>
</div>
</body>
</html>