<%- include('header')%>
    <div id ="index">
        <div class="main d-flex">
            <div class="items d-flex">
                <div class="img d-flex justify-content-center align-items-center"><i class="fas fa-photo-video"></i></div>
                <div class="info">
                    <h5 class="amount">{{slV}}</h5>
                    <p>VIDEOS</p>
                </div>
            </div>
            <div class="items d-flex ali">
                <div class="img d-flex justify-content-center align-items-center"><i class="fas fa-user"></i></div>
                <div class="info">
                    <h5 class="amount">{{slA}}</h5>
                    <p>ACCOUNTS</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="js/index.js"></script>
</html>