<%- include('header')%>
        <div class="main d-flex">
            <div class="items d-flex">
                <div class="img"></div>
                <div class="info">
                    <h5 class="amount">1212</h5>
                    <p>VIDEOS</p>
                </div>
            </div>
            <div class="items d-flex">
                <div class="img"></div>
                <div class="info">
                    <h5 class="amount">1212</h5>
                    <p>VIDEOS</p>
                </div>
            </div>
        </div>
</body>
</html>