<%- include('header')%>
<div class="main" style="padding:0" id="listVideo">
    <div class="sub-header">List file Videos</div>
    <div class="display">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" v-if ="tongtab>4">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" v-if="viTri<=3" disabled>First</button>
              <button type="button" class="btn btn-primary" v-if="viTri>3" @click="rt=1,viTri=3">First</button>
              <div id ="iii"  v-if="viTri>3" >...</div>
              <button v-for="n in 5" type="button" class="btn btn-primary" @click="_rt(n)">{{viTri-3+n}}</button>
            </div>
            <div id ="iii" v-if="viTri<tongtab-3"  >...</div>
            <div class="btn-group" role="group" aria-label="Third group">
              <button type="button" class="btn btn-info" @click="rt=tongtab,viTri=tongtab-2">Last</button>
            </div>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" v-if ="tongtab<4">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" disabled>First</button>
              <button v-for="n in tongtab" type="button" class="btn btn-primary" @click="rt=n">{{n}}</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
              <button type="button" class="btn btn-info" @click="rt=tongtab">Last</button>
            </div>
        </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col-1">Video ID</th>
                <th scope="col-3">Drive URL</th>
                <th scope="col-3">Account upload</th>
                <th scope="col-1">Status</th>
                <th scope="col-3">Function</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for = "item in fileBase.slice((rt-1)*50,rt*50-1)" >
                <th scope="row">{{item.id}}</th>
                <td><a :href="item.drive_url">{{item.drive_url}}</a></td>
                <td>{{item.insta_info_1+','+item.insta_info_2+','+item.insta_info_3}}</td>
                <td>{{item.status}}</td>
                <td>
                  <button class="btn btn-success btn-sm" @click = "_getLink(item.id)" >Get mp4</button>
                  <button class="btn btn-danger btn-sm" @click = "_delete(item.id)">Delete Video</button>
                  <button class="btn btn-danger btn-sm" @click = "_deleteCache(item.id)">Delete Cache</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="js/listVideo.js"></script>
<link rel="stylesheet" href="css/listVideo.css">
</html>