<%- include('header')%>
<div class="main" style="padding:0" id="listAccount">
    <div class="sub-header">List Instagram account </div>
    <div class="display"></div>
<table class="table">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Account</th>
                <th scope="col">SL VIDEOS</th>
                <th scope="col">FUNCTION</th>
            </thead>
            <tbody>
              <tr v-for = "item in fileBase">
                <th scope="row">{{item.id}}</th>
                <td>{{item.username}}</td>
                <td>{{item.status}}</td>
                <td>
                  <button class="btn btn-danger btn-sm" @click = "_delete(item.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="js/listAccount.js"></script>
<link rel="stylesheet" href="css/listVideo.css">
</html>