<%- include('header')%>
<div class="main" style="padding:0">
    <div class="sub-header">Seach video in list uploaded</div>
    <div class="display" style="padding:10px">
        <form action="/search" method="post">
            <div class="input-group form-group">
                <input type="text" class="form-control search-bar" placeholder="Search..." name="search">
                <input type="submit" value="Search" class="btn btn login_btn">
            </div>
        </form>
    </div>
</div>
</body>

</html>