<%- include('header')%>
<div class="main" style="padding:0">
    <div class="sub-header">Upload File To Tool</div>
    <div class="display"></div>
    	<div class="container-fluid">
	    	<form action="/execute" method="POST">
	    		<div class="row">
	    			<label class="col-3" style="margin-top : 15px">Link Driver :</label><input class="col-8 form-control search-bar" type="text" placeholder="Link URL google driver" maxlength="100" name="url" />
	    		</div>
	    		<div class="row">
	    			<label class="col-3" style="margin-top : 15px">Title :</label><input class="col-8 form-control search-bar" type="text" placeholder="Name File" maxlength="100" name="title"/>
	    		</div>
	    		<div class="row">
	    			<label class="col-3" style="margin-top : 15px">Description :</label><input class="col-8 form-control search-bar" type="text" placeholder="Description" maxlength="100" name="description"/>
	    		</div>
	    		<div class="row">
	    			<label class="col-3" style="margin-top : 15px">Account_ID :</label><input class="col-8 form-control search-bar" type="text" placeholder="ID Account Upload" maxlength="100" name="account_id"/>
	    		</div>
	    		<div class="row">
                    <input class="btn btn-primary" type="submit" id="btn-sub" name="submit" value="Upload" style="margin-left: 47%">
                    <span style="margin-left: 48%" class="success-msg`"><%= error %></span>
            </div>
	    	</form>
	    </div>
</div>
</body>
</html>